body{
    width: 80%;
    height: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid red;
}
.container{
    display: flex;
}
.morevideo{
    padding-left: 10px;
    text-align: justify;
    flex-direction: column;                                                                                         
}
#video1{

}
#text1{
   padding-left: 10px;
}
#under1{
   padding-left: 10px;
}
